.input-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    text-align: left;

    label {
        font-size: 16px;
        font-weight: 600;
        color: #333;
    }

    input {
        background-color: #F3F4F6;
        color: #09090B;
        width: 100%;
        padding: 16px;
    }
}