:host ::ng-deep .p-button.p-component {
  background-color: #f41313;
  color: #fff;
  border: none;
  transition: all ease-in-out 0.3s;
  width: 100%;
  padding-block: 16px;
  box-shadow: 0 30px 60px 0px rgba(79, 70, 229, 0.15);
}

:host ::ng-deep .p-button.p-component:hover {
  background-color: #f45050;
  color: #fff;
  border: none;
}
