.form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 50dvw;
    height: fit-content;
    padding: 40px;

    @media (max-width: 1000px) {
        width: 100vw;
        padding: 16px;
    }
}