.right-side-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, #FB5353, #F30606);
  height: 100%;
  width: 50vw;

  img {
    width: 100%;
    height: auto;
  }

  @media (max-width: 768px) {
    display: none;
    
  }
}
