* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}



app-root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #fff;
}

input:focus {
  outline: none;
  border: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}
